#### 1. Import pandas library

In [1]:
import pandas as pd
import numpy as np

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [3]:
motor=create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/stats')

#### 4. Import the users table

In [4]:
data = pd.read_sql_query('SELECT * FROM users', motor)

#### 5. Rename Id column to userId

In [5]:
data.rename({'Id':'userId'},axis=1, inplace=True)
data.head()

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 6. Import the posts table.

In [6]:
poster = pd.read_sql_query('SELECT * FROM posts', motor)

#### 7. Rename Id column to postId and OwnerUserId to userId

In [7]:
poster.rename(columns={'Id':'postId','OwnerUserId':'userId'}, inplace=True)

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [8]:
users_columns=data[['userId','Reputation','Views','UpVotes','DownVotes']]
posts_columns=poster[['postId','Score','userId','ViewCount','CommentCount']]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [9]:
# merged_t = data.merge(poster,left_on='userId', right_on='userId')
merged_t=pd.merge(data,poster)

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [10]:
merged_t.isna().sum()

userId                       0
Reputation                   0
CreationDate                 0
DisplayName                  0
LastAccessDate               0
WebsiteUrl               58513
Location                 50132
AboutMe                  48900
Views                        0
UpVotes                      0
DownVotes                    0
AccountId                    0
Age                      63780
ProfileImageUrl          66521
postId                       0
PostTypeId                   0
AcceptedAnswerId         76021
CreaionDate                  0
Score                        0
ViewCount                48396
Body                       220
LasActivityDate              0
Title                    48396
Tags                     48396
AnswerCount              48396
CommentCount                 0
FavoriteCount            77605
LastEditorUserId         46456
LastEditDate             46228
CommunityOwnedDate       88197
ParentId                 43484
ClosedDate               89024
OwnerDisplayName         89463
LastEditorDisplayName    90335
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [11]:
tittles=merged_t.columns.values
for i in tittles:
    if merged_t[i].isna().sum()>80000:
        merged_t.drop(i, axis=1, inplace=True)
merged_t.isna().sum()

userId                  0
Reputation              0
CreationDate            0
DisplayName             0
LastAccessDate          0
WebsiteUrl          58513
Location            50132
AboutMe             48900
Views                   0
UpVotes                 0
DownVotes               0
AccountId               0
Age                 63780
ProfileImageUrl     66521
postId                  0
PostTypeId              0
AcceptedAnswerId    76021
CreaionDate             0
Score                   0
ViewCount           48396
Body                  220
LasActivityDate         0
Title               48396
Tags                48396
AnswerCount         48396
CommentCount            0
FavoriteCount       77605
LastEditorUserId    46456
LastEditDate        46228
ParentId            43484
dtype: int64

In [12]:
tittles_2=merged_t.columns.values
for i in tittles_2:
    if merged_t[i].dtype=='O':
        merged_t[i]=merged_t[i].fillna('-')
    elif merged_t[i].dtype=='int64':
        merged_t[i]=merged_t[i].fillna(0)
    elif merged_t[i].dtype=='float64':
        merged_t[i]=merged_t[i].fillna(0.0)
    elif merged_t[i].dtype=='<M8[ns]':
        merged_t[i]=merged_t[i].fillna(0)

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [13]:
merged_t['Age']=merged_t['Age'].astype('int64')
merged_t['AcceptedAnswerId']=merged_t['AcceptedAnswerId'].astype('int64')
merged_t['ViewCount']=merged_t['ViewCount'].astype('int64')
merged_t['AnswerCount']=merged_t['AnswerCount'].astype('int64')
merged_t['FavoriteCount']=merged_t['FavoriteCount'].astype('int64')
merged_t['LastEditorUserId']=merged_t['LastEditorUserId'].astype('int64')
merged_t['ParentId']=merged_t['ParentId'].astype('int64')

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [14]:
tittles_3=merged_t.columns.values
tit=[]
for i in tittles_3:
    if merged_t[i].dtype=='int64' or merged_t[i].dtype=='float64':
        tit.append(i)

In [64]:
tit=['Reputation', 'Views', 'UpVotes', 'DownVotes', 'Age', 'Score', 'ViewCount', 'AnswerCount', 'CommentCount', 'FavoriteCount']

In [65]:
lst=pd.DataFrame()
for j in tit:
    media=merged_t[j][merged_t[j]>0].mean()
    des=1.5*(merged_t[j][merged_t[j]>0].std())
    lst[j]=merged_t[j][merged_t[j]>(media+des)]
    
#merged_t['Parent'].mean()
lst

,Reputation,Views,UpVotes,DownVotes,Age,Score,ViewCount,AnswerCount,CommentCount,FavoriteCount
6677,44152,7357.0,NaN,NaN,55.0,NaN,NaN,NaN,NaN,NaN
6678,44152,7357.0,NaN,NaN,55.0,NaN,NaN,NaN,NaN,NaN
6679,44152,7357.0,NaN,NaN,55.0,NaN,NaN,NaN,NaN,NaN
6680,44152,7357.0,NaN,NaN,55.0,NaN,NaN,NaN,NaN,NaN
6681,44152,7357.0,NaN,NaN,55.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
34833,37083,NaN,8641.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34834,37083,NaN,8641.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34835,37083,NaN,8641.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34836,37083,NaN,8641.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34837,37083,NaN,8641.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
lst.to_csv('atípicos.csv',sep=',')