# Challenge 1

In [1]:
from nltk.corpus import brown

In [2]:
brown.words()[0:10]

['The',
 'Fulton',
 'County',
 'Grand',
 'Jury',
 'said',
 'Friday',
 'an',
 'investigation',
 'of']

In [3]:
brown.tagged_words()[0:10]

[('The', 'AT'),
 ('Fulton', 'NP-TL'),
 ('County', 'NN-TL'),
 ('Grand', 'JJ-TL'),
 ('Jury', 'NN-TL'),
 ('said', 'VBD'),
 ('Friday', 'NR'),
 ('an', 'AT'),
 ('investigation', 'NN'),
 ('of', 'IN')]

In [4]:
text = 'Ironhack is a Global Tech School ranked num 2 worldwide.   Our mission is to help people transform their careers and join a thriving community of tech professionals that love what they do. This ideology is reflected in our teaching practices, which consist of a nine-weeks immersive programming, UX/UI design or Data Analytics course as well as a one-week hiring fair aimed at helping our students change their career and get a job straight after the course. We are present in 8 countries and have campuses in 9 locations - Madrid, Barcelona, Miami, Paris, Mexico City,  Berlin, Amsterdam, Sao Paulo and Lisbon.'

C:\Users\Lenovo\anaconda3\lib\site-packages\IPython\core\inputtransformer2.py:481: UserWarning: `make_tokens_by_line` received a list of lines which do not have lineending markers ('\n', '\r', '\r\n', '\x0b', '\x0c'), behavior will be unspecified
  warnings.warn("`make_tokens_by_line` received a list of lines which do not have lineending markers ('\\n', '\\r', '\\r\\n', '\\x0b', '\\x0c'), behavior will be unspecified")

In [5]:
from nltk import sent_tokenize, word_tokenize

In [6]:
sent_tokenize(text)

['Ironhack is a Global Tech School ranked num 2 worldwide.',
 'Our mission is to help people transform their careers and join a thriving community of tech professionals that love what they do.',
 'This ideology is reflected in our teaching practices, which consist of a nine-weeks immersive programming, UX/UI design or Data Analytics course as well as a one-week hiring fair aimed at helping our students change their career and get a job straight after the course.',
 'We are present in 8 countries and have campuses in 9 locations - Madrid, Barcelona, Miami, Paris, Mexico City,  Berlin, Amsterdam, Sao Paulo and Lisbon.']

# Challenge 2

In [7]:
import re
from nltk import word_tokenize

In [8]:
def clean_up(s):
    clean = ["http://?.+ ", "\W+|\d+"]
    s = s.lower()
    for i in clean:
        s = re.sub(i," ",s)
    s = s.split()
    s = " ".join(s)
    return s
    """
    Cleans up numbers, URLs, and special characters from a string.

    Args:
        s: The string to be cleaned up.

    Returns:
        A string that has been cleaned up.
    """

In [9]:
clean1=clean_up('''@Ironhack's-#Q website 776-is http://ironhack.com [(2018)]")''')
otro = ''''Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from data in various forms, both structured and unstructured,[1][2] similar to data mining. \nData science is a "concept to unify statistics, data analysis, machine learning and their related methods" in order to "understand and analyze actual phenomena" with data.[3] It employs techniques and theories drawn from many fields within the context of mathematics, statistics, information science, and computer science. \nTuring award winner Jim Gray imagined data science as a "fourth paradigm" of science (empirical, theoretical, computational and now data-driven) and asserted that "everything about science is changing because of the impact of information technology" and the data deluge.\nIn 2012, when Harvard Business Review called it "The Sexiest Job of the 21st Century",[6] the term "data science" became a buzzword. It is now often used interchangeably with earlier concepts'''
otro1 = clean_up(otro)
clean1

'ironhack s q website is'

In [10]:
def tokenize(s):
    return word_tokenize(s)
    """
    Tokenize a string.

    Args:
        s: String to be tokenized.

    Returns:
        A list of words as the result of tokenization.
    """

In [11]:
clean2=tokenize(clean1)
otro2=tokenize(otro1)
clean2

['ironhack', 's', 'q', 'website', 'is']

In [12]:
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
from nltk.stem.snowball import SnowballStemmer

In [13]:
def stem_and_lemmatize(l):
    lemm = []
    englishStemmer=SnowballStemmer("english")
    lem =  WordNetLemmatizer()
    englishStemmer = list(map(englishStemmer.stem,l))
    for i in englishStemmer:
        lemm.append(lem.lemmatize(i, pos = 'v'))
    return lemm
    """
    Perform stemming and lemmatization on a list of words.

    Args:
        l: A list of strings.

    Returns:
        A list of strings after being stemmed and lemmatized.
    """

In [14]:
otro3 = stem_and_lemmatize(otro2)
otro3[:10]

['data',
 'scienc',
 'be',
 'an',
 'interdisciplinari',
 'field',
 'that',
 'use',
 'scientif',
 'method']

In [15]:
print(len(otro3))

148

In [16]:
from nltk.corpus import stopwords

In [17]:
def remove_stopwords(l):
    stopwords_en = stopwords.words('english')
    clean_words = []
    for w in l:
        if w not in stopwords_en:
            clean_words.append(w)
    return clean_words

In [18]:
otro4 = remove_stopwords(otro3)
len(otro4)

96

# Challenge 3

In [19]:
import zipfile
import pandas as pd

In [20]:
zf = zipfile.ZipFile('Sentiment140.csv.zip')
df = pd.read_csv(zf.open('Sentiment140.csv'))

In [21]:
df.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [22]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [23]:
txt = "Ironhack is a Global Tech School ranked num 2 worldwide.   Our mission is to help people transform their careers and join a thriving community of tech professionals that love what they do."
analyzer = SentimentIntensityAnalyzer()
analyzer.polarity_scores(txt)

C:\Users\Lenovo\anaconda3\lib\site-packages\IPython\core\inputtransformer2.py:481: UserWarning: `make_tokens_by_line` received a list of lines which do not have lineending markers ('\n', '\r', '\r\n', '\x0b', '\x0c'), behavior will be unspecified
  warnings.warn("`make_tokens_by_line` received a list of lines which do not have lineending markers ('\\n', '\\r', '\\r\\n', '\\x0b', '\\x0c'), behavior will be unspecified")

{'neg': 0.0, 'neu': 0.741, 'pos': 0.259, 'compound': 0.8442}

In [24]:
df_sample=df.sample(n=20000)

In [25]:
df_sample['text_processed'] = df_sample.text.apply(lambda x:remove_stopwords(stem_and_lemmatize(tokenize(clean_up(x)))))

In [26]:
df_sample['text_processed'].head(10)

315433     [english, exam, hard, think, alright, get, fre...
1376591                   [bill_archi, heyi, get, know, yet]
73261                              [feelin, well, afternoon]
782977     [bah, half, follow, bloodi, spam, bot, block, ...
732165     [dare, updat, softwar, stick, use, behemoth, i...
1581393      [happi, heem, want, make, friend, much, friend]
828119                    [estk, comment, back, haha, happi]
460920      [omfg, creepi, dude, myspac, comment, pic, help]
67586        [joeymcintyr, show, either, summer, bill, suck]
206507               [bore, mind, oversleep, bbq, one, hang]
Name: text_processed, dtype: object

In [27]:
bag_words=[]
for i in df_sample['text_processed']:
    bag_words+=i

In [28]:
bag_words[:10]

['english',
 'exam',
 'hard',
 'think',
 'alright',
 'get',
 'french',
 'tomorrow',
 'bill_archi',
 'heyi']

In [29]:
from nltk.probability import FreqDist

In [30]:
fdist = FreqDist(bag_words)

In [31]:
most_common = fdist.most_common(5000)

In [32]:
most_common[:10]

[('get', 2200),
 ('go', 2021),
 ('day', 1409),
 ('work', 1141),
 ('good', 1138),
 ('like', 1005),
 ('love', 997),
 ('quot', 910),
 ('time', 839),
 ('today', 837)]

In [33]:
words_5000=[f[0] for f in most_common]

In [34]:
matrix=[]
for i in df_sample['text_processed']:
    matricita=[]
    for j in i:
        if i in words_5000:
            matricita.append(True)
        else:
            matricita.append(False)
    matrix.append(matricita)

In [35]:
matrix_sample2 = [['True' if j in i else False for j in words_5000] for i in df_sample['text_processed']]

In [36]:
len(matrix_sample2[0])

5000

In [37]:
matrix_df = pd.DataFrame(matrix_sample2,columns=words_5000,index=df_sample.index)

In [38]:
matrix_df.head()

,get,go,day,work,good,like,love,quot,time,today,...,thief,liddow,snob,emm,mmwant,spree,goooood,broad,karleigh,dampen
315433,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1376591,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
73261,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
782977,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
732165,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [39]:
matrix_df['is_positive'] = df_sample['target'].apply(lambda x:True if x==4 else False)

In [40]:
matrix_df.head()

,get,go,day,work,good,like,love,quot,time,today,...,liddow,snob,emm,mmwant,spree,goooood,broad,karleigh,dampen,is_positive
315433,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1376591,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
73261,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
782977,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
732165,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [42]:
ultima=[]
for i in matrix_df.index:
    dictado={}
    for j in matrix_df.columns[:-1]:
        dictado[j]=matrix_df.loc[i,j]
    ultima.append((dictado,matrix_df.loc[i,'is_positive']))

In [46]:
eti=int(len(ultima)*.95)
train_set, test_set = ultima[:eti], ultima[eti:]

In [48]:
from nltk.classify import NaiveBayesClassifier
import nltk.classify.util

In [49]:
classifier = nltk.NaiveBayesClassifier.train(train_set)

In [50]:
print(nltk.classify.accuracy(classifier, test_set))

0.736

In [53]:
classifier.show_most_informative_features(10)

Most Informative Features
                unfortun = 'True'          False : True   =     24.8 : 1.0
                 headach = 'True'          False : True   =     20.5 : 1.0
                     rip = 'True'          False : True   =     20.1 : 1.0
                  welcom = 'True'           True : False  =     19.1 : 1.0
                    poor = 'True'          False : True   =     17.8 : 1.0
                    hurt = 'True'          False : True   =     15.8 : 1.0
                     sad = 'True'          False : True   =     13.7 : 1.0
                 horribl = 'True'          False : True   =     12.4 : 1.0
                    wont = 'True'          False : True   =     12.1 : 1.0
            jordanknight = 'True'           True : False  =     10.8 : 1.0